.input-guest {
  font-size: 15px;
  width: 100%;
  padding: 10px;
  text-align: left;
  border-style: none;
  position: relative;
  margin-left: 40px;
}

.input-guest:focus {
  outline: none;
}

.input-guest[value] {
  color: #8f8d8d;
}

.input-guest[value] {
  color: black;
}

/* Styling the guest number box */
.guest-box {
  width: 260px;
  z-index: 9999;
  position: absolute;
  top: 58px;
  left: 35px;
  box-shadow: 0 2px 8px 0 #828080;
  background-color: white;
  color: #1d2429;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 2px 8px 0 #828080;
  border-radius: 5px;
}

.guest-box__row {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.guest-box__row input {
  color: #1d2429;
  width: 70px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(132, 144, 149);
}

.DoneBtn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(239, 242, 247);
}

/* MEDIA QUERY */
@media (max-width: 992px) {
  .guest-box {
    top: 52px;
    left: 0;
  }
}
